@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}
.gm-style-iw-a {
  margin-top: -2.5rem;
}
@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
}
.modal {
  z-index: 10000;
  height: 500px;
  max-width: 65vw;
  border-radius: 1rem;
  border: 4px solid gray;
  left: 5vw;
  overflow: hidden;
  top: 30%;
  position: absolute;
}
@layer utilities {
  .text-balance {
  }
}
h1 {
  font-size: 2rem;
  line-height: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
